version: 1.0.{build}

skip_branch_with_pr: true

image: Visual Studio 2017
configuration: Release

artifacts:
  - path: Screencap\bin\$(configuration)
    name: Screencap
deploy:
  release: screencap-v$(APPVEYOR_REPO_COMMIT)
  description: 'Release'
  provider: GitHub
  auth_token: $(GITHUB_ACCESS_TOKEN)
  prerelease: true
  draft: false
  on:
