version: 1.0.{build}

skip_branch_with_pr: true

image: Visual Studio 2017
configuration: Release

artifacts:
  - path: Screencap\bin\$(configuration)
    name: Screencap
deploy:
  release: screencap-v$(APPVEYOR_BUILD_ID)
  description: Release from branch '$(APPVEYOR_REPO_BRANCH)'
  provider: GitHub
  auth_token: $(GITHUB_ACCESS_TOKEN)
  prerelease: true
  draft: false
